.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 130px 0 0;
  background-color: rgba(0, 0, 0, 0.25);

  &--hidden {
    display: none;
  }

  &__content {
    max-width: 960px;
    padding: 50px 20px 35px;
    background-color: var(--white);
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &__body {
    font-size: 12px;
    line-height: 22px;
  }
}

@media all and (min-width: 1024px) {
  .modal {
    padding-left: 40px;
    padding-right: 40px;

    &__content {
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__title {
      font-size: 20px;
      line-height: 23px;
    }

    &__body {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@import './CommentForm/commentform';
