@mixin reset-side-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

:global {
  .post {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    padding: 130px 0 0;
    background-color: rgba(0, 0, 0, 0.25);

    &--hidden {
      display: none;
    }
  }
}

.container {
  overflow: hidden;
  max-width: 960px;
  border-radius: 7px;
  background-color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  color: var(--white);
  background-color: var(--black);
}

.main {
  display: flex;
  flex-direction: column;
}

.closeBtn {
  line-height: 0;
}

.menuBtn {
  transform: rotate(90deg);

  svg * {
    fill: var(--white);
  }
}

.votes {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.menu {
  display: none;
}

.content {
  padding: 0 20px;
  border-bottom: 1px solid var(--greyD9);
  font-size: 12px;
  line-height: 22px;
}

.comment {
  margin-bottom: 30px;
  padding-left: 9px;
  border-left: 2px solid var(--greyD9);
}

.sort {
  display: flex;
  margin-bottom: 20px;
  padding: 13px 20px;
  background-color: var(--greyF4);
}

.sortLabel {
  margin-right: 5px;
  color: var(--grey99);
}

.sortBtn {
  position: relative;
  color: var(--orange);

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: -15px;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: transparent var(--orange) var(--orange) transparent;
    transform: rotate(45deg);
  }
}

@media all and (min-width: 1024px) {
  :global {
    .post {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .container {
    margin: 0 auto;
    padding: 52px;
  }

  .header {
    display: none;
  }

  .title {
    font-size: 20px;
    line-height: 23px;
  }

  .content {
    @include reset-side-padding;
    order: 1;
    font-size: 14px;
    line-height: 16px;
  }

  .textContent {
    @include reset-side-padding;
    order: 0;
  }

  .sort {
    @include reset-side-padding;
    order: 4;
    border-bottom: 1px solid var(--greyD9);
    background-color: transparent;
  }

  .commentForm {
    @include reset-side-padding ;
    order: 3;
    margin-bottom: 25px;
  }

  .commentList {
    @include reset-side-padding;
    order: 5;
    padding-bottom: 0 !important;
  }

  .controls {
    display: none;
  }

  .menu {
    align-items: center;
    order: 2;
    position: static;
    box-shadow: none;
    margin-bottom: 20px;

    ul {
      display: flex;

      li::after {
        content: none;
      }
    }

    button {
      display: none;
    }
  }
}


