.container {
  padding: 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

@media all and (min-width: 1024px) {
  .container {
    padding: 0;
    font-size: 28px;
    line-height: 33px;
  }
}
