.container {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  position: relative;
}

.area {
  width: 100%;
  max-height: 34px;
  padding: 8px 10px;
  border-color: var(--greyD9);
  border-radius: 3px;
  font-family: 'Roboto', serif;
  resize: none;
}

.submitBtnText {
  display: none;
}

.actions {
  display: none;
  background-color: var(--greyE5);
}

.error {
  position: absolute;
  color: #f00;
  top: -1.5em;
}

@media all and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0;
  }

  .emojiBtn {
    display: none;
  }

  .actionsBtn {
    display: none;
  }

  .actions {
    display: block;
    border-bottom-left-radius: 3px;
    padding: 16px 20px;
  }

  .area {
    padding: 16px 18px;
    grid-column: 1/-1;
    min-height: 90px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .submitBtn {
    border-bottom-right-radius: 3px;
    grid-column: 2/-1;
    padding: 17px 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    background-color: var(--orange);
    @media (any-hover: hover) {
      &:hover {
        filter: brightness(1.1);
      }
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  .submitIcon {
    display: none;
  }

  .submitBtnText {
    display: inline-block;
  }
}
