.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.commentsButton {
  display: flex;
  align-items: center;

  * {
    color: var(--greyC4);
  }
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.actions {
  display: flex;
  align-items: center;

  > *:last-child {
    margin: 0 0 0 15px;
  }
}

.shareButton {
  width: 20px;
  height: 20px;
}

.saveButton {
  width: 20px;
  height: 20px;
}

@media all and (min-width: 1024px) {
  .controls {
    flex: 0 0;
    order: 3;
    margin: 0 0 0 24px;
    padding: 0;
  }

  .commentsButton {
    display: none;
  }

  .actions {
    display: none;
  }
}

@media all and (min-width: 1524px) {
  .controls {
    position: relative;
  }
}
