.karma-counter {
  &__up,
  &__down,
  &__value {
    padding: 0 0 0 4px;
  }

  &__value {
    vertical-align: top;
    line-height: 23px;
    color: var(--greyC4);
  }
}

@media all and (min-width: 1024px) {
  .karma-counter {
    text-align: center;

    &__up,
    &__down,
    &__value {
      padding: 7px 0 0;
    }

    &__up {
      margin-bottom: 4px;
    }

    &__value {
      font-size: 14px;
      line-height: 16px;
      color: var(--black);
    }
  }
}

@media all and (min-width: 1524px) {
  .karma-counter {
    &__up:hover svg path {
      fill: var(--green);
    }

    &__down:hover svg path {
      fill: var(--orange);
    }
  }
}
