.header__sort {

  padding: 11px 20px;
  border-radius: 7px;
  background-color: var(--white);
}

@media all and (min-width: 1024px) {
  .header__sort {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}
