.container {
  padding: 30px 20px;
}

.textContent,
.commentList,
.controls {
  padding: 0;
}

.commentList {
  padding-top: 30px;
}

.menu {
  position: static;
  display: none;
  box-shadow: none;

  ul {
    display: flex;
    gap: 24px;
  }

  button {
    display: none;
  }
}

.menuItem {
  display: flex;
  gap: 6px;
  align-items: center;

  button {
    color: var(--grey99);
  }
}

@media all and (min-width: 1024px) {
  .controls {
    display: none;
  }

  .menu {
    display: block;
  }

  .menuItem button {
    display: block;
  }
}
