.header {
  &__wrapper {
    display: flex;
    background-color: var(--white);
    margin-bottom: 38px;
    padding: 14px 20px;
    gap: 14px;
  }

  &__sort {
    margin-right: auto;
    margin-bottom: 20px;
  }

  &__account {
    display: inline-flex;
    align-items: center;
  }
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px;

    &__wrapper {
      background-color: transparent;
      order: 2;
      margin-bottom: 0;
    }

    &__sort {
      margin-bottom: 0;
    }

    &__account {
      order: 1;
    }
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}

@import './Search/search';
@import './Sort/sort';
@import './Title/title';
@import './Account/account';
