.container {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.s12 > svg {
  width: 12px;
  height: 12px;
}

.s14 > svg {
  width: 14px;
  height: 14px;
}

.s16 > svg {
  width: 16px;
  height: 16px;
}

.s20 > svg {
  width: 20px;
  height: 20px;
}

.s30 > svg {
  width: 30px;
  height: 30px;
}

.s50 > svg {
  width: 50px;
  height: 50px;
}

.s100 > svg {
  width: 100px;
  height: 100px;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .m12 > svg {
    width: 12px;
    height: 12px;
  }

  .m14 > svg {
    width: 14px;
    height: 14px;
  }

  .m16 > svg {
    width: 16px;
    height: 16px;
  }

  .m20 > svg {
    width: 20px;
    height: 20px;
  }

  .m30 > svg {
    width: 30px;
    height: 30px;
  }

  .m50 > svg {
    width: 50px;
    height: 50px;
  }

  .m100 > svg {
    width: 100px;
    height: 100px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .t12 > svg {
    width: 12px;
    height: 12px;
  }

  .t14 > svg {
    width: 14px;
    height: 14px;
  }

  .t16 > svg {
    width: 16px;
    height: 16px;
  }

  .t20 > svg {
    width: 20px;
    height: 20px;
  }

  .t30 > svg {
    width: 30px;
    height: 30px;
  }

  .t50 > svg {
    width: 50px;
    height: 50px;
  }

  .t100 > svg {
    width: 100px;
    height: 100px;
  }
}

@media all and (min-width: 1540px) {
  .d12 > svg {
    width: 12px;
    height: 12px;
  }

  .d14 > svg {
    width: 14px;
    height: 14px;
  }

  .d16 > svg {
    width: 16px;
    height: 16px;
  }

  .d20 > svg {
    width: 20px;
    height: 20px;
  }

  .d30 > svg {
    width: 30px;
    height: 30px;
  }

  .d50 > svg {
    width: 50px;
    height: 50px;
  }

  .d100 > svg {
    width: 100px;
    height: 100px;
  }
}

